@using Telerik.Blazor.Components

<TelerikLoaderContainer Visible="@isLoading"></TelerikLoaderContainer>

<TelerikListView Data=@standardListData
                 Pageable="true"
                 PageSize="5">
    <HeaderTemplate>
        Breakpoint Standards
    </HeaderTemplate>
    <Template>
        <div class="listview-item">
            <h4>@context.Bpstandard</h4>
        </div>
    </Template>
</TelerikListView>

    @if (string.IsNullOrWhiteSpace(Props.Standard.Bpstandard))
    {
        <p><em>Click on a row to select a standard</em></p>
    }
    else
    {
        <p>Current standard: @Props.Standard.Bpstandard</p>
    }
