@using Radzen
@using Radzen.Blazor

@if (!string.IsNullOrWhiteSpace(Props.Project.ProjectName) ||
   !string.IsNullOrWhiteSpace(Props.Group.BpgroupName))
{
    <h3>Breakpoint by project (project/group not selected)</h3>
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@data" TItem="OrganismName" ColumnWidth="200px" AllowColumnResize="true"
                RowClick="@RowClick">
        <Columns>
            <RadzenGridColumn TItem="OrganismName" Property="OrganismId" Title="Organism Id" />
            <RadzenGridColumn TItem="OrganismName" Property="Name" Title="Organism Name" />
            <RadzenGridColumn TItem="OrganismName" Property="OrganismFamilyId" Title="Family Id" />
            <RadzenGridColumn TItem="OrganismName" Property="OrganismSubfamilyId" Title="Sub-Family Id" />
            <RadzenGridColumn TItem="OrganismName" Property="GenusId" Title="Genus Id" />
            <RadzenGridColumn TItem="OrganismName" Property="PrintOnCodeList" Title="Print on code list" />
            <RadzenGridColumn TItem="OrganismName" Property="RemapTo" Title="Remap To" />
            <RadzenGridColumn TItem="OrganismName" Property="Aerobic" Title="Aerobic" />
            <RadzenGridColumn TItem="OrganismName" Property="Anaerobic" Title="Anaerobic" />
            <RadzenGridColumn TItem="OrganismName" Property="Fungal" Title="Fungal" />
            <RadzenGridColumn TItem="OrganismName" Property="CreatedBy" Title="Created By" />
            <RadzenGridColumn TItem="OrganismName" Property="CreatedDate" Title="Created Date" />
        </Columns>
    </RadzenGrid>
    @if (string.IsNullOrWhiteSpace(Props.Organism?.Name))
    {
        <p><em>Click on a row to select an organism</em></p>
    }
    else
    {
        <p>Current organism: @Props.Organism.Name</p>
    }
}
else
{
    <h3>Breakpoint by project and group @Props.Project.ProjectId/Props.BreakpointGroup.GroupId</h3>
}
