@using Radzen
@using Radzen.Blazor
<h2>Projects</h2>

<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
            AllowSorting="true" Data="@data" TItem="Project" ColumnWidth="200px" AllowColumnResize="true"
            RowClick="@RowClick">
    <Columns>
        <RadzenGridColumn TItem="Project" Property="ProjectId" Title="Project Id" />
        <RadzenGridColumn TItem="Project" Property="ProjectName" Title="Project Name" />
        <RadzenGridColumn TItem="Project" Property="ClientId" Title="Client Id" />
        <RadzenGridColumn TItem="Project" Property="ClientContactId" Title="Client Contact Id" />
        <RadzenGridColumn TItem="Project" Property="ClientProjectId" Title="Client Project Id" />
        <RadzenGridColumn TItem="Project" Property="ClientProjectName" Title="Client Project Name" />
        <RadzenGridColumn TItem="Project" Property="ClientProjectStatus" Title="Client Project Status" />
        <RadzenGridColumn TItem="Project" Property="ProjectStatus" Title="Project Status" />
        <RadzenGridColumn TItem="Project" Property="ProjectType" Title="Project Type" />
        <RadzenGridColumn TItem="Project" Property="StudyType" Title="Study Type" />
    </Columns>
</RadzenGrid>

@if (string.IsNullOrWhiteSpace(Props.Project.ProjectName))
{
    <p><em>Click on a row to select a project</em></p>
}
else
{
    <p>Current project: @Props.Project.ProjectName</p>
}
