@using Telerik.Blazor.Components

<TelerikLoaderContainer Visible="@isLoading"></TelerikLoaderContainer>


@if (isLoading)
{
    <h3>Standard not selected)</h3>
}
else
{
    <TelerikListView Data=@groupListData
                        Pageable="true"
                        PageSize="5">
        <HeaderTemplate>
            Breakpoint Groups
        </HeaderTemplate>
        <Template>
            <div class="listview-item">
                <h4>@context.BpgroupName</h4>
            </div>
        </Template>
    </TelerikListView>

    @if (string.IsNullOrWhiteSpace(Props.Group.BpgroupName))
    {
        <p><em>Click on a row to select a group</em></p>
    }
    else
    {
        <p>Current group: @Props.Group.BpgroupName</p>
    }
}