@using Radzen
@using Radzen.Blazor
<h3>EditBreakpoint</h3>
<RadzenTree Change=@OnChange Data=@standardList Expand=@OnLoad Style="width: 100%; height: 300px">
    <RadzenTreeLevel TextProperty="BpStandard" />
</RadzenTree>
@if (!string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName))
{
    <h3>Selected Breakpoint Group: @currentBreakpointGroup.BpgroupName</h3>
}
@BreakpointProjectCmp
@if (string.IsNullOrWhiteSpace(Props?.Project?.ProjectName) ||
    string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName))
{
    <h3> Breakpoints (standard, project, or group not selected)</h3>
}
else
{
    <h4>Breakpoints by MIC</h4>
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@micData" TItem="Breakpoint" ColumnWidth="200px" AllowColumnResize="true">
        <Columns>
            <RadzenGridColumn TItem="Breakpoint" Property="BreakpointId" Title="Breakpoint Id" />
            <RadzenGridColumn TItem="Breakpoint" Property="ResultType" Title="Result Type" />
            <RadzenGridColumn TItem="Breakpoint" Property="Group.BpgroupName" Title="Group Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Drug.DrugName)" Title="Drug Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Susceptible" Title="Susceptible" />
            <RadzenGridColumn TItem="Breakpoint" Property="LowIntermediate" Title="Low Intermediate" />
            <RadzenGridColumn TItem="Breakpoint" Property="Intermediate" Title="Intermediate" />
            <RadzenGridColumn TItem="Breakpoint" Property="Resistant" Title="Resistant" />
            <RadzenGridColumn TItem="Breakpoint" Property="DisplayedAs" Title="Displayed As" />
            <RadzenGridColumn TItem="Breakpoint" Property="Dosage" Title="Dosage" />
            <RadzenGridColumn TItem="Breakpoint" Property="Project.ProjectName" Title="Project Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Bpyear" Title="BP Year" />
        </Columns>
    </RadzenGrid>

    <h4>Breakpoints by Disk</h4>
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@diskData" TItem="Breakpoint" ColumnWidth="200px" AllowColumnResize="true">
        <Columns>
            <RadzenGridColumn TItem="Breakpoint" Property="BreakpointId" Title="Breakpoint Id" />
            <RadzenGridColumn TItem="Breakpoint" Property="ResultType" Title="Result Type" />
            <RadzenGridColumn TItem="Breakpoint" Property="Group.BpgroupName" Title="Group Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Drug.DrugName)" Title="Drug Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Susceptible" Title="Susceptible" />
            <RadzenGridColumn TItem="Breakpoint" Property="LowIntermediate" Title="Low Intermediate" />
            <RadzenGridColumn TItem="Breakpoint" Property="Intermediate" Title="Intermediate" />
            <RadzenGridColumn TItem="Breakpoint" Property="Resistant" Title="Resistant" />
            <RadzenGridColumn TItem="Breakpoint" Property="DisplayedAs" Title="Displayed As" />
            <RadzenGridColumn TItem="Breakpoint" Property="Dosage" Title="Dosage" />
            <RadzenGridColumn TItem="Breakpoint" Property="Project.ProjectName" Title="Project Name" />
            <RadzenGridColumn TItem="Breakpoint" Property="Bpyear" Title="BP Year" />
        </Columns>
    </RadzenGrid>
}
